* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: "Courier New", Courier, monospace monospace;
}

.nav {
  width: 100%;
  height: auto;
  padding: 20px 0 20px 10px;
  box-sizing: border-box;
  color: #fff;
  background: black;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 500px;
  margin: 30px;
  .left,
  .right {
    padding: 0 20px;
    cursor: pointer;
  }
  .slider {
    width: 1000px;
    height: auto;
    overflow: hidden;
    border: 3px solid black;
    display: flex;
    animation: glow 2s ease-in-out infinite;
    .slider-content {
      cursor: pointer;
      width: 300px;
      height: 470px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
      transition: 1s;
      h3,
      p {
        width: 100%;
        padding: 5px 3px;
        box-sizing: border-box;
        background: rgb(153, 64, 109);
        color: #fff;
      }
      img {
        width: 300px;
        height: 100%;
      }
    }
  }
  i {
    color: #000;
    font-size: 28px;
  }
}

.footer {
  width: 100%;
  height: auto;
  padding: 5px;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  background-color: black;
  font-size: 20px;
}

@keyframes glow {
  // 0% {
  //   border-color: black;
  // }
  40% {
    border-color: yellowgreen;
  }
  60% {
    border-color: rgb(116, 116, 255);
  }
  80% {
    border-color: red;
  }
  100% {
    border-color: black;
  }
}
